form {
  max-width: 60%;
}

body {
  display: flex;
  justify-content: center;
}

#fieldset-cliente {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
  margin-bottom: 20px;
}

#cpf {
  max-width: 20%;
}

#fieldset-endereco {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

#cep{
  max-width: 20%;
}

#uf {
  max-width: 10%;
}

#div-cep, #div-logradouro, #div-numero, #complemento-conteiner, #div-bairro{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#div-complemento{
  width: 100%;
}

#numero{
  max-width: 65%;
}

#fieldset-produto{
  display: flex;
}
#quantidade{
  max-width: 20%;
}
#preco{
  max-width: 40%;
}
#produto{
  max-width: 100%;
}

#quantidade-conteiner,
 #preco-conteiner,
  #produto-conteiner{
  max-width: 30%;
}

